[core]
	excludesfile = /home/ovisan/.gitignore_global
	editor = vim
[gitreview]
	username = ovisan
[user]
	name = Ovidiu Visan
  #email = visan.ovidiu@gmail.com
  email = ovidiu.visan@sixt.com
[push]
	default = simple
[alias]
	update = pull --rebase upstream master
	sl = log --pretty=oneline
	fl = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	st = status
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
