[core]
	excludesfile = /home/ovisan/.gitignore_global
[gitreview]
	username = ovisan
[user]
	name = Ovidiu Visan
  #email = visan.ovidiu@gmail.com
  email = ovidiu.visan@sixt.com
[push]
	default = simple
[alias]
	update = pull --rebase upstream master
	sl = log --pretty=oneline
	fl = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	st = status
